$dark: #CE000000;

@import "../bootstrap-4.5.0/scss/bootstrap.scss";

.bg {
    background-size: auto;
    background-image: url("../assets/GIF/trees-landscape-lights-forest-nature-space-788802-wallhere.com.jpg");
}
.gif {
    border: 2px solid black;
    border-radius: 50px;
    width: 650px;
}
#myProgress {
    width: 100%;
    
}
.glow {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
                0 -5px 5px rgba(255, 255, 255, .7) inset;
    animation: animate-glow 1s ease-out infinite;
  }
  
@keyframes animate-glow {
  0% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
                0 -5px 5px rgba(255, 255, 255, .7) inset;
}
  50% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset,
                0 -5px 5px rgba(255, 255, 255, .3) inset;
}
  100% {
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset,
                0 -5px 5px rgba(255, 255, 255, .7) inset;
  }
}

#myBarFeed {
  width: 100%;
  height: 30px;
  background-color: rgb(252, 188, 11);
  border: solid 2px white;
  border-radius: 50px;
}
#myBarSleep {
  width: 100%;
  height: 30px;
  background-color: rgb(101, 16, 170);
  border: solid 2px white;
  border-radius: 50px;
}
#myBarPlay {
  width: 100%;
  height: 30px;
  background-color: rgb(209, 235, 236);
  border: solid 2px white;
  border-radius: 50px;
}
.col-md-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.col-md-5 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.regle {
  font-style: bold;
  border: solid black 2px;
  border-radius: 20px;
  text-align: center;
}
#inputOri {
  background: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 430px;
}
#area {
  background: black;  
  color: white!important;
}